<div class="container">
    <div class="container border">
        <div class="row">
            <div class="col-sm header">
                Personal Information
            </div>        
        </div>
        <div class="row">            
            <div class="col-sm">
                First Name: (in English)<br/>
                <input type=text>
            </div>
            <div class="col-sm ">
                Middle Name(s): (in English)<br/>
                <input type=text>
            </div>
            <div class="col-sm "> 
                Last Name: (in English)<br/>
                <input type=text>
            </div>
        </div>
        <div class=row>     
            <div class="col-lg">
                <div class="row">
                    <div class="col-sm ">
                        Sex:<br/>                        
                        <select name="Sex" id="sex">
                            <option value=""></option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </div>
                    <div class="col-sm ">
                        Date of Birth:<br/>
                        <input type=text>
                    </div>
                    <div class="col-sm ">
                        ID #<br/>
                        <input type=text>
                    </div>
                    <div class="col-sm ">
                        Preferred Language:<br/>
                        <input type=text>
                    </div>
                </div>                            
                <div class=row>            
                    <div class="col-sm ">
                        Country of Origin:<br/>
                        <input type=text>
                    </div>
                    <div class="col-sm ">
                        Service Start Date:<br/>
                        <input type=text>
                    </div>
                    <div class="col-sm ">
                        Service End Date: (if relevant)<br/>
                        <input type=text>
                    </div>            
                </div>
                <div class=row>   
                    <div class="col-sm">
                        Upload Profile Image                    
                        <span class="button">
                            <button type="button" class="btn">Add Image +</button>
                        </span>
                    </div>                      
            </div>  
        </div>     
            <div class="col-xs">
                <div class="col-sm mr-2">
                    Other Languages:<br/>
                    <input type=text><br/>
                    <input type=text><br/>
                    <input type=text><br/>
                    <button type="button" class="btn">add more+</button>
                </div>
            </div>
            
            
        </div>
        
    </div>
    <div class="container border">
        <div class="row">
            <div class="col-sm header">
                Contact Information
            </div>        
        </div>
        <div class=row>            
            <div class="col-sm ">
                Phone Number: (in English)<br/>
                <input type=text>
            </div>
            <div class="col-sm ">
                Email: (in English)<br/>
                <input type=text>
            </div>
            <div class="col-sm ">
                Address: (in English)<br/>
                <input type=text>
            </div>            
        </div>                
    </div>
    <div class="container border">
        <div class="row">
            <div class="col-sm header">
                Health Organization
            </div>        
        </div>
        <div class=row>            
            <div class="col-sm ">
                Health Organization:<br/>
                <input type=text>
            </div>
            <div class="col-sm ">
                Role:<br/>
                <input type=text>
            </div>
            <div class="col-sm ">
                Specialty:<br/>
                <input type=text>
            </div>            
        </div>    
        <div class=row>            
            <div class="col-lg ">
                Additional message or notes explaining why you are requesting to make an account: (in English)<br/>
                <textarea rows="4" cols="100"></textarea>
            </div> 
            <div class="col-xs button">               
                <button type="button" class="btn">Submit Account Request</button>
            </div>                       
        </div>    
        
    </div>
</div>
