<div class="container">
    <div class="container border">
        <div class="row">
            <div class="col-sm header">
                Personal Information
            </div>        
        </div>
        <div class="row border">
            <div class="col-sm p-3">
                <div class="row ml-2 mt-2">
                    <span class="field">First Name:</span>
                    <!-- <span>{{fname}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Middle Name:</span>
                    <!-- <span>{{mname}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Last Name:</span>
                    <!-- <span>{{lname}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Asylum Case#:</span>
                    <!-- <span>{{case}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Sex:</span>
                    <!-- <span>{{sex}}</span> -->
                </div>
            </div>
            <div class="col-sm p-3 border">
                <div class="row ml-2 mt-2">
                    <span class="field">Date of birth:</span>
                    <!-- <span>{{dob}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Date of death:</span>
                    <!-- <span>{{dod}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Nationality:</span>
                    <!-- <span>{{nationality}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Preferred Language:</span>
                    <!-- <span>{{prefLang}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Other Language:</span>
                    <!-- <span>{{otherLang}}</span> -->
                </div>
            </div>
            <div class="col-sm p-3">
                <div class="row ml-2 mt-2">
                    <span class="field">Accompanied?:</span>
                    <!-- <span>{{dob}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Family Status:</span>
                    <!-- <span>{{dod}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field italicize">Mother:</span>
                    <!-- <span>{{nationality}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field italicize">Father:</span>
                    <!-- <span>{{prefLang}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field italicize">Brother:</span>
                    <!-- <span>{{otherLang}}</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm header">
                Contact Information
            </div>        
        </div>
        <div class="row">
            <div class="col-sm p-3">
                <div class="row ml-2 mt-2">
                    <span class="italicize">Preferred Contact Method</span>                
                </div>
                <div class="row ml-2 mt-2">                
                    <!-- <span>{{prefContact}}</span> -->
                </div>            
            </div>
            <div class="col-sm p-3 border">
                <div class="row ml-2 mt-2">
                    <span class="italicize">Additional Contact Info</span>                
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Email:</span>
                    <!-- <span>{{email}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Phone:</span>
                    <!-- <span>{{phone}}</span> -->
                </div>
                <div class="row ml-2 mt-2">
                    <span class="field">Other:</span>
                    <!-- <span>{{other}}</span> -->
                </div>            
            </div>
            <div class="col-sm p-3">
                <div class="row ml-2 mt-2">
                    <span class="italicize">Place of Residence</span>                
                </div>
                <div class="row ml-2 mt-2">                
                    <!-- <span>{{address}}</span> -->
                </div>            
            </div>
        </div>    
    
    </div>
    <div class="button mt-2"><button type="button" class="btn">Download/Print</button></div>
</div>
